---
import MaterialArrowOutwardSharp from '~icons/material-symbols/arrow-outward-sharp'
---

<a
  href="#footer"
  class="relative bg-foreground px-20 py-20 flex justify-between items-center aug-contact-cta mb-32 group"
  data-augmented-ui="bl-rect br-clip-y both"
>
  <!-- Download button in top right corner -->

  <div class="flex justify-between items-center w-full">
    <h2 class="text-background text-5xl font-display max-w-xl font-medium">Let's Antecipate the Future Together.</h2>

    <div
      class="flex justify-between items-center gap-8 bg-background max-w-lg cursor-pointer pl-8 mr-8 aug-button group-focus:[--aug-border-bg:var(--accent)_!important]"
      data-augmented-ui="tr-clip bl-clip both"
    >
      Contact Me
      <div class="p-4 aug-button-div" data-augmented-ui="tr-clip bl-clip both">
        <MaterialArrowOutwardSharp className="size-6 flex-shrink-0 text-background" />
      </div>
    </div>
  </div>
</a>

<style>
  .aug-contact-cta {
    --aug-tr: 48px !important;
    --aug-bl: 48px !important;
    --aug-tl: 48px !important;
    --aug-br: 48px !important;
    --aug-border-all: 1px !important;
    --aug-border-bg: var(--background) !important;
    --aug-inlay-all: 0px !important;
    --aug-border-bg: var(--background) !important;
    --aug-inlay-bg: var(--foreground) !important;
  }

  .aug-contact-cta:focus {
    --aug-border-bg: var(--accent) !important;
    --aug-border-all: 1px !important;
  }

  .aug-button-div {
    --aug-tr: 12px !important;
    --aug-bl: 12px !important;
    --aug-border-all: 1px !important;
    --aug-border-bg: var(--background) !important;
    --aug-inlay-all: 0px !important;
    --aug-inlay-bg: var(--foreground) !important;
  }
</style>
