<a
  href="#footer"
  class="relative bg-foreground px-20 py-20 flex justify-between items-center aug-contact-cta mb-32"
  data-augmented-ui="bl-rect br-clip-y both"
>
  <!-- Download button in top right corner -->

  <div class="flex justify-between items-center w-full">
    <h2 class="text-background text-5xl font-display max-w-xl font-medium">Let's Antecipate the Future Together.</h2>

    <div class="bg-background max-w-lg cursor-pointer p-4 mr-8 aug-button" data-augmented-ui="tr-clip bl-clip both">
      Contact Me
    </div>
  </div>
</a>

<style>
  .aug-contact-cta {
    --aug-tr: 48px !important;
    --aug-bl: 48px !important;
    --aug-tl: 48px !important;
    --aug-br: 48px !important;
    --aug-border-all: 0px !important;
    --aug-inlay-all: 0px !important;
    --aug-border-bg: var(--background) !important;
    --aug-inlay-bg: var(--foreground) !important;
  }
</style>
