---
import Logo from '@/components/site/brand/Logo.astro'
import MaterialArrowOutwardSharp from '~icons/material-symbols/arrow-outward-sharp'
import { SettingsMenu } from './SettingsMenu'

interface Props {
  className?: string
}

const { className }: Props = Astro.props
---

<div class="flex items-center justify-between gap-2 sticky top-0 py-4 z-50 font-code w-full" class:list={className}>
  <a href="/" class="focus:outline-offset-1">
    <Logo />
  </a>

  <nav class="space-x-6 pl-8 pr-4 py-2 aug-navbar hidden lg:flex" data-augmented-ui="tr-clip bl-clip bl-clip-x both">
    <a href="#my-story" class="text-foreground hover:text-link-primary-hover transition-colors px-4 py-2">My Story</a>
    <a href="#projects" class="text-foreground hover:text-link-primary-hover transition-colors px-4 py-2">Projects</a>
    <a
      href="https://x.com/luisfuturist"
      target="_blank"
      class="text-foreground hover:text-link-primary-hover transition-colors px-4 py-2 flex gap-1"
    >
      X (Twitter)
      <MaterialArrowOutwardSharp className="w-6 h-6" />
    </a>
    <a
      href="https://www.linkedin.com/in/luisfuturist"
      class="text-foreground hover:text-link-primary-hover transition-colors px-4 py-2 flex gap-1"
      target="_blank"
    >
      LinkedIn
      <MaterialArrowOutwardSharp className="w-6 h-6" />
    </a>
    <a href="#footer" class="text-foreground hover:text-link-primary-hover transition-colors px-4 py-2">Contact Me</a>
  </nav>

  <div>
    <SettingsMenu client:load />
  </div>
</div>

<style>
  .aug-logo {
    --aug-tl: 12px !important;
    --aug-bl: 12px !important;
    --aug-br: 12px !important;
    --aug-border-all: 0px !important;
    --aug-inlay-all: 0px !important;
    --aug-border-bg: var(--background) !important;
    --aug-inlay-bg: var(--foreground) !important;
  }
  .aug-logo:hover {
    --aug-inlay-bg: var(--link-primary-hover) !important;
  }

  .aug-navbar {
    --aug-tr: 12px !important;
    --aug-bl: 12px !important;
    --aug-border-all: 1px !important;
    --aug-inlay-all: 0px !important;
    --aug-border-bg: var(--background) !important;
    --aug-inlay-bg: var(--background-secondary) !important;
  }
</style>
