---
import t from "../../content/lib/t";
import Accordion from "../components/Accordion.astro";
import Link from "../components/Link";
import Title from "../components/Title.astro";

const skills = [
  {
    name: t("I learn things fast"),
    description: t(
      "I have a keen ability to quickly absorb new concepts and technologies, which allows me to stay ahead in a rapidly evolving environment.",
    ),
  },
  {
    name: t("The new cativates me"),
    description: t(
      "I'm constantly captivated by new developments in technology, maintaining a perpetual curiosity that drives me to explore without succumbing to boredom.",
    ),
  },
  {
    name: t("I think computationally"),
    description: t(
      "I excel at computational thinking, leveraging analytical skills and innovative approaches to solve complex tech problems.",
    ),
  },
  {
    name: t("I have a creative mindset"),
    description: t(
      "I possess a creative mindset, constantly generating new ideas and thinking outside the box when tackling challenges and issues.",
    ),
  },
  {
    name: t("I'm future-focused"),
    description: t(
      "I prioritize potential over past knowledge, embracing a deep understanding of future technologies and focusing on what I can continue to learn and improve upon in the future.",
    ),
  },
  {
    name: t("I like to go deep on topics"),
    description: t(
      "I have a passion for delving deep into topics, exploring intricate details and gaining a comprehensive understanding that goes beyond surface-level knowledge. This depth of exploration enables me to uncover valuable insights and innovative solutions.",
    ),
  },
];
---

<div class="grid grid-cols-1">
  <h2
    class="invisible w-full mb-4 text-sm text-slate-400 font-display font-medium"
  >
    About Me
  </h2>

  <p
    class="bg-clip-text text-transparent bg-gradient-to-tr from-slate-700 via-slate-700 to-slate-600 text-2xl sm:text-3xl md:text-4xl lg:text-4xl mb-4"
  >
    {
      t(
        "I'm a natural neural network passionate about technology and the future, working as a full-stack developer. With experience in Software Development and a passion for programming, I specialize in a wide range of technologies that enable me to create innovative solutions. My journey in software development is driven by curiosity about the future, always seeking innovation and self-improvement. In addition to programming, I find inspiration in exploring the intersection of technology, language, and philosophy. This combination of technical expertise and creative passion drives me to create innovative projects and explore the possibilities of tomorrow.",
      )
    }
  </p>
</div>

<h3
  class="mt-24 mb-4 text-center w-fit mx-auto text-2xl font-display text-yellow-900"
>
  {t("My Mission")}
</h3>

<div class="max-w-2xl mx-auto">
  <p
    class="mb-4 text-base bg-clip-text text-transparent bg-gradient-to-tr from-slate-700 via-slate-700 to-slate-600"
  >
    {
      t(
        "My mission is deeply rooted in the observation that technology has been evolving rapidly, far surpassing the pace of advances in other contexts. My goal is to explore and innovate at the intersection of technology and other domains, focusing on understanding how technology can be integrated into various aspects of life, both professional and personal. This mission involves fostering a holistic approach to embrace the potential of technology, creating a convergence where slower aspects can reach and align with the rapid pace of technological progress.",
      )
    }
  </p>

  <span class="text-yellow-950 text-base italic"> {t("TL;DR")} </span>

  <span class="text-slate-600 text-base">
    {t("Embracing tech integration")}
  </span>
</div>

<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 mt-24 mb-12">
  <hgroup>
    <h3 class="text-red-950 font-display font-medium text-lg w-full mb-4">
      {t("My Skills")}
    </h3>

    <p class="text-base text-slate-700">
      {
        t(
          "I'm not one to often list my skills publicly, as they constantly evolve through continuous study and improvement. However, I'd like to highlight some innate rare skills that I leverage:",
        )
      }
    </p>
  </hgroup>

  <div class="text-azure-2 w-full">
    <div class="space-y-4 mt-8">
      {
        skills.map((skill) => (
          <Accordion name="accordion-skills" class="border-b border-slate-900">
            <div
              slot="title"
              class="text-base text-slate-600 flex items-center pb-4"
            >
              {skill.name}
            </div>
            <p slot="description" class="text-slate-700 mb-4">
              {skill.description}
            </p>
          </Accordion>
        ))
      }
    </div>
  </div>
</div>

<div class="sm:w-1/2 sm:pr-8">
  <h3 class="text-azure-1 dark:text-azure-6 uppercase font-mono text-xs mb-4">
  </h3>

  <h3 class="text-red-950 font-display font-medium text-lg w-full mb-4">
    {t("Want to know more about me?")}
  </h3>

  <p class="text-base text-slate-700">
    {
      t(
        "I've curated a collection of my favorite content that resonate deeply with me. If you are curious, you can explore it here:",
      )
    }

    <br />

    <Link class="mt-4 block" href="https://youtube.com/@luisfuturist/playlists">
      {t("My YouTube playlists")}
    </Link>
  </p>
</div>
