---
import t from "../../content/lib/t";
import CopyToClipboard from "../components/CopyToClipboard";
import Icon from "../components/Icon";
import Link from "../components/Link";
import Title from "../components/Title.astro";

const links = [
  {
    title: "GitHub",
    label: "luisfuturist",
    href: "https://github.com/luisfuturist",
    icon: "github",
  },
  {
    title: "Twitter",
    label: "luisfuturist",
    href: "https://twitter.com/luisfuturist",
    icon: "twitter",
  },
  {
    title: "LinkedIn",
    label: "in/luisfuturist",
    href: "https://linkedin.com/in/luisfuturist",
    icon: "linkedin",
  },
  {
    title: "Instagram",
    label: "@luisfuturist",
    href: "https://instagram.com/luisfuturist",
    icon: "instagram",
  },
];
---

<Title>
  {t("Contact")}
</Title>

<p class="text-azure-2 dark:text-azure-9 text-lg mb-4">
  {
    t(
      "If you share similar interests or want to chat about exciting futuristic projects, don't hesitate to reach out. I would love to hear from you!",
    )
  }
</p>

<div class="justify-between flex flex-col sm:flex-row">
  <p class="text-azure-2 dark:text-azure-9 text-lg w-fit mb-6">
    {t("Let's be part of the future together!")}
  </p>

  <nav
    class="mb-12 flex gap-2 flex-col lg:flex-row lg:items-center justify-between"
  >
    <ul class="flex items-center lg:justify-center flex-wrap gap-x-1 sm:gap-2">
      {
        links.map((link) => (
          <li class="flex">
            <Link
              href={link.href}
              target="_blank"
              class="no-underline group w-fit flex items-center justify-center"
            >
              <span aria-hidden>&lt;</span>
              <Icon name={link.icon} class="mr-1 text-azure-2 dark:text-azure-6 group-hover:text-azure-1 dark:group-hover:text-azure-5" />

              <span aria-hidden>/&gt;</span>
            </Link>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  <div
    class="bg-azure-6 dark:bg-azure-6 text-azure-2 dark:text-black rounded-lg flex flex-col items-between items-center justify-between min-h-56 p-4"
  >
    <div></div>

    <h3 class="text-2xl font-display font-medium text-center">
      {t("Something important?")}
    </h3>

    <div class="space-y-2 text-center">
      <p class="mb-1 text-xs">
        {t("Send me an email at")}
      </p>

      <a
        class="text-sm font-mono font-medium"
        href="mailto:luisfuturist@gmail.com"
      >
        luisfuturist@gmail.com
      </a>
    </div>
  </div>

  <div
    class="border border-azure-6 dark:border-azure-6 rounded-lg flex flex-col items-between items-center justify-between min-h-56 p-4"
  >
    <div></div>

    <h3 class="text-azure-2 dark:text-azure-9 text-2xl font-display font-medium text-center">
      {t('Just want to chat?')}
    </h3>

    <div class="text-azure-2 dark:text-azure-9 space-y-2 text-center">
      <p class="mb-1 text-xs">
        {t('Send me a message on Discord')}
      </p>

      <CopyToClipboard
        class="cursor-pointer text-sm w-fit mx-auto font-mono font-medium flex gap-1 items-center justify-center"
        client:idle
        text="luisfuturist"
        successMessage={t('Discord copied successfully!')}
        errorMessage={t('Error copying Discord!') }
      >
        <Icon name="discord" />
        <span>luisfuturist</span>

        <Icon name="clipboard-fill" />
      </CopyToClipboard>
    </div>
  </div>
</div>

<hr class="border-azure-8 mt-12" />
