---
import t from "../../content/lib/t";
import Marquee from "../components/Markee.astro";
---

<Marquee
    text={t(
        `That's all it is: information. Even a simulated experience or a dream; simultaneous reality and fantasy. Any way you look at it, all the information that a person accumulates in a lifetime is just a drop in the bucket." — Batou`,
    )}
/>

<div
    class="max-w-4xl px-4 pt-82 pt-9 mx-auto flex flex-col sm:flex-row justify-end sm:items-end min-h-10"
>
    <div
        class="bg-black px-4 rounded-lg flex flex-col sm:flex-row justify-end sm:items-end w-full"
    >
        <hgroup
            class="px-4 sm:px-0 py-4 w-full gap-2 flex flex-col sm:flex-row justify-between sm:items-end"
        >
            <h1
                class="text-azure-9 translate-x-[-0.07em] font-display animate-fadein text-lg sm:text-lg md:text-xl lg:text-2xl"
            >
                <a href="/#home">
                    Luis<span class="text-azure-6 dark:text-azure-6" aria-hidden
                        >^</span
                    ><span class="text-azure-9">Emidio</span>
                </a>
            </h1>

            <p
                class="text-azure-9 animate-fadein text-left sm:text-right text-xs sm:text-sm md:text-sm lg:text-base"
            >
                {t("Future-oriented Full Stack Developer")}
            </p>
        </hgroup>
    </div>
</div>
