---
import t from "../../content/lib/t";
import Marquee from "../components/Markee.astro";

const year = new Date().getFullYear();
---

<div class="absolute w-full overflow-hidden h-fit top-0 bottom-0 flex animate-slidedown">
  <div class="w-max pl-4 pr-2 bg-slate-950 flex gap-1 items-center text-xs">
    <div
      class="flex w-max items-center scroll-text font-sans text-slate-500"
    >
      Luis Emidio
    </div>
    <span class="font-mono text-slate-700">{year}</span>
  </div>
  <Marquee
    class="py-2"
    text={t(
      `That's all it is: information. Even a simulated experience or a dream; simultaneous reality and fantasy. Any way you look at it, all the information that a person accumulates in a lifetime is just a drop in the bucket.\" — Batou`,
    )}
  />
</div>
