---
import Icon from "../components/Icon";
import Stack from "../components/Stack.astro";
import Project from "../components/Project.astro";
import { getPinnedRepos, type Repo } from "../utils/github";
import Title from "../components/Title.astro";
import t from "../../content/lib/t";
import Alert from "../components/Alert.astro";
import Link from "../components/Link";
import { sortByDate } from "../utils/sort";

let repos: Repo[] | null;
let error;

try {
  const myRepos = await getPinnedRepos("luisfuturist");
  const neogaiaRepos = await getPinnedRepos("neogaialab");
  repos = [...myRepos, ...neogaiaRepos];
  sortByDate(repos, "updated_at");
} catch (e) {
  console.error(e);
  error = e;
  repos = null;
}
---

<Title>
  {t("Portfolio")}
</Title>

<Alert type="info">
  {
    t(
      "Currently, I'm in the process of building my portfolio. Meanwhile, you can track my progress and explore some of my work on",
    )
  }
  {" "}
  <Link target="_blank" href="https://github.com/luisfuturist">GitHub</Link>.
</Alert>

<p class="text-azure-2 dark:text-azure-9 mb-12">
  {
    t(
      "I'm constantly striving to enhance my skills and learn new things. Feel free to check back in the future to see what I've been working on. Thank you for your interest in my work, and I look forward to sharing more with you soon!",
    )
  }
</p>

<div
  class="grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
>
  <div class="w-full min-h-36">
    <h3 class="text-azure-1 dark:text-azure-6 text-sm font-mono uppercase mb-4">
      {t("Recent Repositories")}
    </h3>

    <p class="text-azure-2 dark:text-azure-9 text-xs pb-4">
      {
        t(
          "Click on the icons to visit the respective source code or demo for more details.",
        )
      }
    </p>
  </div>

  {
    repos?.map((repo, i) => (
      <>
        <Project i={i} {...repo} />
      </>
    ))
  }
</div>

{
  error && (
    <small class="text-red-6">
      {t("There was an error loading projects from GitHub. 😭")}
    </small>
  )
}

<Stack class="sm:mx-auto sm:max-w-lg">
  <div></div>

  <h3 class="text-2xl text-center text-azure-1 dark:text-black">
    {t("Explore all my repositories")}
  </h3>

  <div class="space-y-2 text-center">
    <div class="text-xs font-mono uppercase">
      <span aria-hidden>[</span>
      {t("Access my GitHub Profile")}
      <span aria-hidden>]</span>
    </div>
  </div>
</Stack>

<hr class="border-azure-6 mt-12" />
