theme-dark() {
    --lfds-body-bg: color-gray-1;

    --lfds-scrollbar-bg: color-gray-2;
    --lfds-scrollbar-thumb-normal: color-gray-3;
    --lfds-scrollbar-thumb-hover: color-azure-5;

    --lfds-selection-bg: color-gray-2;
    --lfds-selection-color: color-gray-9;
    
    --lfds-focus-outline: alpha(color-azure-5, 0.1);

    --lfds-topbar-text-color: color-gray-5;
    --lfds-topbar-border-color: color-orange-2;

    --lfds-navbar-bg: color-gray-1;
    --lfds-navbar-border-color: color-gray-2;

    --lfds-link-color-normal: color-white;
    --lfds-link-color-hover: color-azure-5;
    --lfds-link-color-disabled: color-gray-4;
    --lfds-link-bg-hover: alpha(color-azure-5, 0.4);

    --lfds-popover-bg: color-gray-1;
    --lfds-popover-text-color: color-gray-7;
    --lfds-popover-border-color: color-gray-2;
    --lfds-popover-shadow: rgba(0, 0, 0, 0.3);

    --lfds-hero-title-color: color-azure-5;
    --lfds-hero-text-color: color-gray-7;

    --lfds-pattern-matrix-overlay: color-gray-1;
    --lfds-pattern-matrix-color: color-azure-5;

    --lfds-section-title: color-azure-5;
    --lfds-section-title-2: color-gray-9;
    --lfds-section-number: color-gray-2;
    --lfds-section-text: color-gray-7;

    --lfds-footer-bg: color-gray-2;
    --lfds-footer-text-color: color-gray-8;
}