---
import clsx from 'clsx';

interface Props {
  text: string;
  class?: string;
}

const { text, class: className } = Astro.props;
---

<div
  class:list={clsx(["bg-slate-950 text-slate-500 text-xs flex items-center justify-center font-mono"], className)}
>
  <div class="text-loop">
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
  </div>
</div>

<style>
  .text-loop {
    @apply flex gap-4 overflow-hidden flex-nowrap items-center;
  }
  .text-loop span {
    @apply whitespace-nowrap max-w-[none];
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
</style>
