---
import Document from "../layouts/Document.astro";
import Hero from "../views/Hero.astro";
import About from "../views/About.astro";
import Portfolio from "../views/Portfolio.astro";
import Contact from "../views/Contact.astro";
import Footer from "../views/Footer.astro";
import Icon from "./Icon";
import t from "../../content/lib/t";
import Nav from "./Nav";

const navItems = [
  { label: "English", href: "/en" },
  { label: "Português", href: "/pt" },
];
---

<Document
  title={t("Luis Emidio | Homepage")}
  description={t("Explore my personal website.")}
  keywords={t("Luis Emidio, website, technology, developer")}
>
<div class="bg-black flex w-[300vw]">
  <div class="hidden remove-hidden-on-load">
    <div id="__projects" class="w-[100vw] h-[100vh] text-white">projects</div>
  </div>
  <div class="flex flex-col">
    <div id="__home" class="w-[100vw] h-[100vh] text-white">
      home

      <a href="#projects" class="__anchor text-white"> projects </a>
      <a href="#about" class="__anchor text-white"> about </a>
      <a href="#contact" class="__anchor text-white"> contact </a>
    </div>
    <div id="__about" class="w-[100vw] h-[100vh] text-white">about</div>
  </div>

  <div>
    <div id="__contact" class="w-[100vw] h-[100vh] text-white">contact</div>
  </div>

  <!-- <main>
    <section id="home" class="relative">
      <Hero />
    </section>

    <header
      class="px-4 sm:px-4 py-4 max-w-4xl mx-auto"
    >
      <Nav items={navItems} client:idle />
    </header>

    <section id="about" class="px-4 py-8 max-w-4xl mx-auto">
      <About />
    </section>

    <section id="portfolio" class="px-4 py-8 max-w-4xl mx-auto">
      <Portfolio />
    </section>

    <section id="contact" class="px-4 py-8 max-w-4xl mx-auto">
      <Contact />
    </section>

    <section class="px-4 max-w-4xl mx-auto mt-12">
      <a
        href="/#contact"
        class="flex items-end rounded-lg bg-black text-azure-6 p-4 text-4xl font-display mb-12 min-h-[50dvh]"
      >
        <p class="flex gap-2 items-center">
          {t("Let's connect!")}
          <Icon name="arrow-up-right" />
        </p>
      </a>
    </section>
  </main>

  <Footer /> -->
</Document>

<script src="../scripts/scroll.ts">