---
import t from "../../content/lib/t";
import Document from "../layouts/Document.astro";
import Home from "../views/Home.astro";
import Navbar from "./Navbar.astro";

const navItems = [
  { label: "English", href: "/en" },
  { label: "Português", href: "/pt" },
];
---

<Document
  title={t("Luis Emidio | Homepage")}
  description={t("Explore my personal website.")}
  keywords={t("Luis Emidio, website, technology, developer")}
>
  <div class="flex w-[300vw]">
    <div class="hidden remove-hidden-on-load">
      <div id="__projects" class="w-[80vw] h-dvh text-white bg-black">projects</div>
    </div>

    <div class="flex flex-col">
      <div id="__home" class="w-[100vw] h-dvh text-white relative">
        <Navbar />

        <div class="global-gradient"></div>
        <div class="metal-container">
          <div class="grid"></div>
        </div>

        <Home />
      </div>
      
      <div id="__about" class="w-[100vw] h-[80vh] text-white bg-black">
        about
      </div>
    </div>

    <div>
      <div id="__contact" class="w-[80vw] h-dvh text-white bg-black">
        contact
      </div>
    </div>
  </div>
</Document>

<script src="../scripts/scroll.ts"></script>

<style>
  .metal-container {
    @apply absolute top-0 left-0 w-full h-full -z-10;
  }

  .metal {
    --dot-size: 1px;
    --size: 80px;
    --dot1-color: #222;
    --dot2-color: #222;
    --line-hor-color: #090909;
    --line-ver-color: #090909;

    @apply w-full h-full;

    background-image: radial-gradient(
        var(--dot1-color) var(--dot-size),
        transparent var(--dot-size)
      ),
      radial-gradient(
        var(--dot2-color) var(--dot-size),
        transparent var(--dot-size)
      ),
      radial-gradient(
        var(--dot2-color) var(--dot-size),
        transparent var(--dot-size)
      ),
      linear-gradient(
        to right,
        var(--line-ver-color) var(--dot-size),
        transparent var(--dot-size)
      ),
      linear-gradient(
        to bottom,
        var(--line-hor-color) var(--dot-size),
        transparent var(--dot-size)
      );
    background-size:
      var(--size) var(--size),
      var(--size) var(--size),
      var(--size) var(--size),
      var(--size) var(--size);
    background-position:
      0 0,
      calc(var(--size) / 2 + var(--dot-size) / 2)
        calc(var(--size) / 2 + var(--dot-size) / 2),
      calc(var(--size)) calc(var(--size) / 2 + var(--dot-size) / 2),
      0 0,
      calc(var(--size) / 2 - var(--dot-size) / 2)
        calc(var(--size) / 2 - var(--dot-size) / 2);
    background-color: #000;
    background-repeat: repeat;
  }
  .grid {
    @apply -z-10;
    @apply w-full h-full;

    --dot-size: 1px;
    --dot1-color: theme(colors.slate.900);
    --size: 64px;

    background-image: radial-gradient(
      var(--dot1-color) var(--dot-size),
      transparent var(--dot-size)
    );
    background-size: var(--size) var(--size);
    background-color: #000;
    background-repeat: repeat;
  }

  .global-gradient {
    @apply absolute top-0 left-0 w-full h-full;

    background: radial-gradient(circle at center 0, #000 0%, transparent 75%);
  }
  /* 
    .global-gradient {
      @apply absolute top-0 left-0 w-full h-full -z-10;

      background: radial-gradient(
        circle at 20% 0,
        #A0522D11 0%,
        #80808011 75%
      );

    } */
</style>
