---
import t from "../../content/lib/t";
import Document from "../layouts/Document.astro";
import About from "../views/About.astro";
import Home from "../views/Home.astro";
import Navbar from "./Navbar.astro";

const navItems = [
  { label: "English", href: "/en" },
  { label: "Português", href: "/pt" },
];
---

<Document
  title={t("Luis Emidio | Homepage")}
  description={t("Explore my personal website.")}
  keywords={t("Luis Emidio, website, technology, developer")}
>
  <div class="flex w-[300vw]">
    <div class="hidden remove-hidden-on-load">
      <div id="__projects" class="w-[80vw] h-dvh text-white bg-black">
        projects
      </div>
    </div>

    <div class="absolute w-[100vw] h-[85dvh] top-0 right-0"></div>

    <div class="flex flex-col relative">
      <div class="absolute top-0 left-0 w-full h-[100dvh] z-30">
        <Navbar />
      </div>

      <div class="flex flex-col">
        <div id="__home" class="w-[100vw] h-[85dvh] relative block">
          <div class="grid" />
          <div class="grid-overlay" />

          <Home />
        </div>

        <div
          id="___title"
          class="sticky top-0 pb-4 px-4 w-full h-[15dvh] flex flex-col md:flex-row items-start md:justify-between md:items-end gap-2 bg-black/10 transition-colors duration-700 backdrop-blur-md z-20"
        >
          <h1
            class="scroll-text order-0 sm:order-1 font-display animate-fadein font-medium text-5xl md:text-6xl lg:text-7xl text-yellow-900"
          >
            Luis<span aria-hidden class="text-slate-400">^</span><span class="text-slate-600"
              >Emidio</span
            >
          </h1>

          <div
            class="flex w-full gap-2 md:w-auto justify-between order:1 sm:order-2 text-slate-700 font-display animate-fadein text-right text-lg md:text-xl lg:text-2xl"
          >
            <span class="">
              {t("AI / Web")}
            </span>
            <span>{t("Dev")}</span>
          </div>
        </div>

        <div
          id="__about"
          class="w-[100vw] h-[85dvh] bg-black px-4 overflow-auto pt-[15dvh] transition-transform duration-700"
        >
          <About />
        </div>
      </div>
    </div>

    <div>
      <div id="__contact" class="w-[80vw] h-dvh text-white bg-black z-40">
        contact
      </div>
    </div>
  </div>
</Document>

<script src="../scripts/scroll.ts"></script>

<style>
  .grid {
    @apply absolute top-0 left-0 w-full h-full z-10;
    @apply -z-20;
    @apply w-full h-full;

    --dot-size: 1px;
    --dot1-color: theme(colors.slate.800);
    --size: 64px;

    background-image: radial-gradient(
      var(--dot1-color) var(--dot-size),
      transparent var(--dot-size)
    );
    background-size: var(--size) var(--size);
    background-color: #000;
    background-repeat: repeat;
  }

  .grid-overlay {
    @apply absolute top-0 left-0 w-full h-full -z-10;

    background: radial-gradient(circle at center 0, theme(colors.black) 0%, transparent 75%);
  }
</style>
