.button {
    padding: 4px 8px;
    transition: background 0.25s motion-ease-1,
        color 0.25s motion-ease-1;
    border: 1px solid var(--lfds-link-color-hover);
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 4px solid var(--lfds-focus-outline);
    }

    &:active {
        outline: none;
    }
}

.isNormal {
    background: var(--lfds-link-color-hover);
    color: var(--lfds-body-bg);

    &:hover {
        color: var(--lfds-link-color-normal);
        background: var(--lfds-link-bg-hover);
    }
}

.isTransparent {
    padding: 0;
    background: transparent;
    border: none;

    &:hover {
        background: transparent;    
    }
}

.isGhost {
    background: transparent;
    color: var(--lfds-link-color-normal);
    
    &:hover {
        background: var(--lfds-link-bg-hover);
    }
}