---
import Navbar from '@/components/site/layout/Navbar.astro'
import Hero from '@/components/site/home/Hero.astro'
import MyStory from '@/components/site/home/MyStory.astro'
import '@/styles/global.css'
import 'augmented-ui/augmented-ui.css'
import MainLayout from '@/layouts/main.astro'
import Projects from '@/components/site/home/Projects.astro'
import Expeditions from '@/components/site/home/Expeditions.astro'
import ContactCTA from '@/components/site/layout/ContactCTA.astro'
import Footer from '@/components/site/layout/Footer.astro'
---

<MainLayout title="Home" description="My personal website">
  <div class="w-full lg:max-w-[1920px] lg:mx-auto px-4 lg:px-12 pb-4">
    <Navbar />
    <Hero />
    <MyStory />
    <Projects />
    <Expeditions />
    <ContactCTA />
    <Footer />
  </div>
</MainLayout>
